<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>This is html page</title>
</head>
<body>
  We can also render html files using Flask by keeping html files inside templates folder.<br>
  Do this: <br>
  import render_template from flask <br>
  The html is run on route /.<br>
  Inside @app.route(/)<br>
          return('File-name-of-file-to-render-that-is-in-templates-folder')<br>
  And run the program in port <br>
  
</body>
</html>