<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="bg-red-200 flex justify-between">
    <div class="py-[10px] flex gap-10 justify-start">
      <div>Home</div>
      <div>Contact</div>
      <div>Mail</div>
    </div>
    <div class="mr-[20px] flex items-center">
      <div class="mr-[5px] border-2 border-red-500 rounded-full overflow-hidden"> <input type="text" class="pl-[5px]" placeholder="Search"> </div>
      <div><Button>Search</Button></div>
    </div>
    
  </div>
</body>
</html>