<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {%block titlepart %}{%endblock titlepart%} - Tasks App</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-400">
  <div class="my-[15px] font-sans font-bold text-4xl flex justify-center">
    Todo App using Flask
  </div>

  {%block bodypart%} {%endblock bodypart%}

  {%block updatepart%} {%endblock updatepart%}

  
</body>
</html>