<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo Site - {{title}}</title>
</head>
<body>
  <ul> 
    <li> <a href=" {{ url_for('home') }} ">Home</a> </li>
    <li> <a href=" {{ url_for('about') }} ">About</a> </li>
    <li> <a href=" {{ url_for('calculate', num=5) }} ">Evaluate</a> </li>
    <li> <a href=" {{ url_for('emp_info') }} ">Employees</a> </li>
  </ul>
  <h1> {{title}} </h1>

  {% block content %}
  {% endblock %}
</body>
</html>